<div class="contain">
    <button class="btn btn-success w-100 mt-3 mb-3" (click) = "getDati()"> Get Dati Studenti </button>

    <input type="text"  id="nameUtente" placeholder="Inserisci Nome">
    <input type="text"  id="cgnUtente" placeholder="Inserisci Cognome">
    <input type="text"  id="mailUtente" placeholder="Inserisci Email">
    <input type="text"  id="pswUtente" placeholder="Inserisci Password">

    <button class="btn btn-success w-100 mt-3 mb-3" (click) = "addStudent()">ADD Studenti </button>
</div>